services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
  website:
    build: .
    container_name: website
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`www.server.lan`)"
      - "traefik.http.services.website.loadbalancer.server.port=80"
      - "traefik.http.routers.website.entrypoints=web"